<!DOCTYPE html>
<html lang="pt-br">
    {% include 'head.html' %}


    <body>
        {% include 'header.html'%}

        <div id="container-all" class="container">
            <section id="intro-blog">
                <div class="intro-container-blog">
                    <div class="container container-artigo">
                        {{article.content}}
                        
                    </div>
                </div>
            </section>
        <!--==========================
            Footer
        ============================-->
        {% include 'footer.html'%}
    </div>

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{{ SITEURL }}/theme/lib/jquery/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/jquery/jquery-migrate.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/easing/easing.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/superfish/hoverIntent.js"></script>
    <script src="{{ SITEURL }}/theme/lib/superfish/superfish.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/wow/wow.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/venobox/venobox.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ SITEURL }}/theme/js/main.js"></script>
    <script src="/blog/static/resizing-img.js"></script>
    </body>

</html>