<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 footer-info">
                    <div class="pre-image">
                        <img  src="{{ SITEURL }}/theme/img/logo-header.png" alt="Logo mini {{ SITENAME }}" title="Logo mini {{ SITENAME }}">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 footer-contact">
                    <h1>Contato</h1>
                    <p>
                        <strong>Email:</strong>
                        <a href="mailto:sul@python.org.br">sul@python.org.br</a>
                        <br>
                    </p>

                    <div class="social-links">
                        
                        {% for site, link in SOCIAL %}
                            <a aria-label="Link para o {{site}} da Python Sul" href="{{link}}" target="_blank" class="{{site}}">
                                <i class="fa fa-{{site}}"></i>
                            </a>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>
    </div>
</footer>