<header id="header">
    <div class="container">
        <div id="logo" class="pull-left">
            <a href="/" class="scrollto"><img src="{{ SITEURL }}/theme/img/logo-header.png" alt="Logo mini {{SITENAME}}" title="Logo mini {{SITENAME}}"></a>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="{{ SITEURL }}/blog">Blog</a></li>
                <li><a href="{{ SITEURL }}/#pre-c4p">Atividades</a></li>
                <li><a href="{{ SITEURL }}/">Site</a></li>
            </ul>
        </nav>
    </div>
</header>