<!DOCTYPE html>
<html lang="pt-br" prefix="og: http://ogp.me/ns#">
    {% include 'head.html' %}


    <body>
        {% include 'header.html'%}
        
        <div id="container-all" class="container">
            <div class="header-container-blog">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <img class="img-blog" src="/blog/static/boi-de-mamao.svg" alt="Imagem do boi de mamão" title="Imagem do boi de mamão">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9" class="blog-title-container">
                        <h1 class="blog-title">Neste blog iremos atualizar vocês das novidades da Python Sul 2024!</h1>
                    </div>
                </div>
            </div>
            <section id="intro-blog">
                <div class="intro-container-blog">
                    <div class="container">
                        <div class="row">
                            {% for a in articles %}
                                <div class="col-lg-4 col-md-12 moldura-blog-2">
                                    <a href="/blog/{{a.url}}">
                                        <div class="moldura-blog">
                                            <img style="max-width: 100%;" src="{{a.image_title}}" alt="Imagem do post {{a.title}}" title="Imagem do post {{a.title}}">
                                            <div class="info">
                                                <h1>{{a.title}}</h1>
                                                <h2>{{a.subtitle}}</h2>
                                                <h3>{{a.author}} - {{a.date.strftime('%d/%m/%y %H:%M') }}</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>

        <!--==========================
            Footer
        ============================-->
        {% include 'footer.html'%}
        
    </div>

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{{ SITEURL }}/theme/lib/jquery/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/jquery/jquery-migrate.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/easing/easing.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/superfish/hoverIntent.js"></script>
    <script src="{{ SITEURL }}/theme/lib/superfish/superfish.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/wow/wow.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/venobox/venobox.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ SITEURL }}/theme/js/main.js"></script>
    <script src="/blog/static/resizing-img.js"></script>

    </body>

</html>