<!DOCTYPE html>
<html lang="pt-br">
{% include 'head.html' with context %}

<body>
    {% include 'header_fixed.html' %}
    <main id="main" class="main-page">
        <!--==========================
          Speaker Details Section
        ============================-->
        <section id="speakers-details" class="wow fadeIn">
          <div class="container">
            <div class="section-header">
              <h2>{{article.title}}</h2>
            </div>
            <div class="row">
              <img src="{{ SITEURL }}/theme/img/palestrantes/{{article.image}}" class="img-fluid">
            </div>
            <div class="row">
                {{article.content}}
            </div>
          </div>
    
        </section>
    
      </main>

    <!--==========================
        Footer
    ============================-->
    {% include 'footer.html'%}

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{{ SITEURL }}/theme/lib/jquery/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/jquery/jquery-migrate.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/easing/easing.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/superfish/hoverIntent.js"></script>
    <script src="{{ SITEURL }}/theme/lib/superfish/superfish.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/wow/wow.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/venobox/venobox.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ SITEURL }}/theme/js/main.js"></script>
</body>

</html>