<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-info">
                    <img src="{{ SITEURL }}/theme/img/logo-header.png" alt="Logo mini {{ SITENAME }}" title="Logo mini {{ SITENAME }}">
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Site Map</h4>
                    <ul>
                        {% for tag, text, active in MENU %}
                            <li><i class="fa fa-angle-right"></i><a href="{{ SITEURL }}{{tag}}">{{text}}</a></li>
                        {% endfor %}
                        {% if INSCRICAO_LINK %}
                            <li class="buy-tickets"><i class="fa fa-angle-right"></i><a href="{{INSCRICAO_LINK}}" target="_blank">Inscrever-se</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Anos Anteriores</h4>
                    <ul>
                        {% for ano, link in OLD_EVENTS %}
                        <li><i class="fa fa-angle-right"></i> <a href="{{link}}" target="_blank" >{{ano}}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contato</h4>
                    <p>
                        <strong>Email:</strong>
                        <a href="mailto:sul@python.org.br">sul@python.org.br</a>
                        <br>
                    </p>

                    <div class="social-links">
                        {% if SOCIAL.twitter %}
                        <a href="{{SOCIAL.twitter}}" target="_blank" class="twitter"><i
                                class="fa fa-twitter"></i></a>
                        {% endif %}
                        {% if SOCIAL.facebook %}
                        <a href="{{SOCIAL.facebook}}" target="_blank" class="facebook"><i
                                class="fa fa-facebook"></i></a>
                        {% endif %}
                        {% if SOCIAL.instagram %}
                        <a href="{{SOCIAL.instagram}}" class="instagram" target="_blank" class="instagram"><i
                                class="fa fa-instagram"></i></a>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">&copy; Copyright <strong>TheEvent</strong>. All Rights Reserved</div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>