<!DOCTYPE html>
<html lang="pt-br">
{% include 'head.html' %}

<body>

    <!--==========================
    Header
    ============================-->
    {% include 'header.html'%}

    <!--==========================
    Intro Section
    ============================-->
    <section id="intro">
        <div class="intro-container wow fadeIn">
            <img src="{{ SITEURL }}/theme/img/logo-main.png" alt="logo-{{SITENAME}}" title="logo-{{SITENAME}}" class="img-fluid">
        </div>
    </section>

    <main id="main">

        <!--==========================
      About Section
    ============================-->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Sobre o evento</h2>
                        <p>
                            Evento da comunidade Python do sul do país, com intuito de popularizar e disseminar o
                            conhecimento da linguagem python.
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <h3>Quando </h3>
                        <p>{{EVENTO.data_completa}}</p>
                    </div>
                    <div class="col-lg-3">
                        <h3>Onde </h3>
                        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3484.041357465406!2d-51.15019854999999!3d-29.163453499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951ebdfe6be2163d%3A0x63adee0321bf5366!2sUCS%20-%20Bloco%2058!5e0!3m2!1spt-BR!2sbr!4v1677013756575!5m2!1spt-BR!2sbr"
                            target="_blank" class="">
                            <p>{{EVENTO.local}}</p>
                    </div>
                    </a>

                </div>
            </div>
            </div>
        </section>

        <!--==========================
        Subscribe Section
        ============================-->
        <section id="subscribe">
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <h2>Código de Conduta</h2>
                    <p>
                        Queremos que todas as pessoas sejam aceitas e bem-vindas. Portanto, solicitamos que leiam nosso
                        <a href="https://python.org.br/cdc/" target="_blank"><strong>Código de Conduta</strong></a>
                    </p>
                </div>
            </div>
        </section>

        <!--==========================
        Contact Section
        ============================-->
        <section id="contact" class="section-bg wow fadeInUp">

            <div class="container">

                <div class="section-header">
                    <h2>Contato</h2>
                    <p>Para Patrocinios ou duvidas sobre o evento entre em contato conosco</p>
                </div>

                <div class="row contact-info">

                    <div class="col-md-4">
                        <div class="contact-address">
                            <i class="ion-ios-location-outline"></i>
                            <h3>Telegram</h3>
                            <p><a href="https://t.me/PythonSulBR">Canal Python Sul</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-email">
                            <i class="ion-ios-email-outline"></i>
                            <h3>Email</h3>
                            <p><a href="mailto:sul@python.org.br">sul@python.org.br</a></p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #contact -->

    </main>


    <!--==========================
        Footer
    ============================-->
    {% include 'footer.html'%}

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{{ SITEURL }}/theme/lib/jquery/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/jquery/jquery-migrate.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/easing/easing.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/superfish/hoverIntent.js"></script>
    <script src="{{ SITEURL }}/theme/lib/superfish/superfish.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/wow/wow.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/venobox/venobox.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ SITEURL }}/theme/js/main.js"></script>
</body>

</html>