// Small radii
$radius-1: 0.25rem;
$radius-2: 0.375rem;
$radius-3: 0.5rem;

// Medium radii
$radius-4: 0.625rem;
$radius-5: 0.75rem;
$radius-6: 0.875rem;

// Large radius
$radius-7: 1rem;

// Full (pill) radius
$radius-100: 9999px;