{{ $currentLang := .Site.Language.Lang }}

{{/* Loop through features sections for the current language */}}
{{ range where .Site.Data.section.features "language" $currentLang }}
<section class="features section" id="about">
  <div class="section-container features--container">
    {{/* Render mascot image */}}
    <div class="features--mascot">
      {{ partial "core/image.html" (dict "src" "/images/caramelo.png" "alt" .imageCaption ) }}
    </div>

    <div class="features--content">
      {{/* Section title */}}
      <h2 class="section-title">
        {{ .title }}
      </h2>
      {{/* Section description */}}
      <p class="section-description">
        {{ .description }}
      </p>

      {{/* Render feature cards */}}
      <div class="features-cards">
        {{ range .cards }}
        <div class="card" data-event-listener="collapse-toggle">
          <div class="card-collapse">
            {{ partial "svg/icons/chevron-down.svg" }}
          </div>
          <div class="icon-box">
            {{ partial .icon }}
          </div>
          <h3 class="card-title">{{ .title }}</h3>
          <p class="card-content collapse-content" data-collapse-visible="false">
            {{ .description }}
          </p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}