@font-face {
  font-family: 'Adwaita Sans';
  src: url('./AdwaitaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Adwaita Sans';
  src: url('./AdwaitaSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}