{{ define "main" }}

{{ partial "sections/hero.html" . }}         {{/* Hero section: main banner or introduction */}}
{{ partial "sections/features.html" . }}     {{/* Features section: highlights key features */}}
{{ partial "sections/cfp.html" . }}          {{/* Call for Papers section: submission info */}}
{{ partial "sections/blog.html" . }}         {{/* Blog section: latest news or posts */}}
{{ partial "sections/sponsors.html" . }}     {{/* Sponsors section: sponsor logos/info */}}
{{ partial "sections/location.html" . }}     {{/* Location section: event or company location */}}
{{ partial "sections/subscribe.html" . }}    {{/* Subscribe section: newsletter signup */}}

{{ end }}
